@import "main.scss";

.x-drawer > div {
	transition: all 0.5s ease;
	background-color: $light-bg;

	html[class="dark-mode"] & {
		background-color: $dark-bg-secondary;
		color: $dark-color;
	}
}

a > *.inline-flex {
	display: inline;
}

.x-input > p,
.x-textarea > p {
	transition: all 0.5s ease;
	color: $light-color;
	outline-color: $primary !important;

	html[class="dark-mode"] & {
		color: $dark-color;
	}
}
